{% extends 'portfolio/base.html' %}
{% block content %}

<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>

  <body class="mb-5">
    <div class="row justify-content-center">
      <div class="col-12 my-5" align="center">
        <h1>Sailor's Dictionary</h1>
        <h6 class="fw-light mt-3">Brought to you by <a href="https://pypi.org/project/PyDictionary/" target="_blank">PyDictionary</a></h6>
      </div>
    </div>

    <form class="row g-2 justify-content-center" action="{% url 'dictionary:dictionary' %}">
      <div class="col-lg-4">
        <input class="form-control" value="" type="text" name="the_word" placeholder="Enter a word in english">
      </div>
      <div class="col-auto">
        <button class="btn btn-primary" type="submit">Submit</button>
      </div>
    </form>

    <div class="row justify-content-center">
      <div class="col-auto" align="center">
        <h1 class="mt-4 display-3">{{ the_word }}</h1>
        {% if errormsg %}
          <h6 class="alert alert-danger fw-light">{{ errormsg }}</h6>
        {% endif %}
      </div>
    </div>

    {% if definitions %}
    <div class="container">
      <div class="row justify-content-center mt-4">
        <div class="col-8">
          <h3>Definitions</h3>
          <hr class="">
        </div>
      </div>
    </div>
    {% endif %}

    <div class="container">
      <div class="row justify-content-center">
        <div class="col-8">

          {% for key, value in definitions.items %}
          {% for d in value %}
          <div class="row">
            <p class="fw-lighter col-1" style="">{{ key|lower }}</p>
            <p class="col ms-4" style="">{{ d }}</p>
          </div>
          {% endfor %}
          {% endfor %}
        </div>
      </div>
    </div>

    {% for key, value in thesaurus.items %}
    {% if value %}
    <div class="container">
      <div class="row justify-content-center mt-4">
        <div class="col-8">
          <h3>{{ key | title}}</h3>
          <hr class="">
        </div>
      </div>
    </div>
    {% endif %}

    <div class="container">
      <div class="row justify-content-center">
        <div class="col-8">
          <div class="row">

            {% for word in value %}
            <div class="col-2">
              <p>{{ word }}</p>
            </div>
            {% endfor %}

          </div>
        </div>
      </div>
    </div>
    {% endfor %}

  </body>
</html>

{% endblock %}
