{% extends 'portfolio/base.html' %}
{% block content %}
{% load static %}

<link rel="stylesheet" type="text/css" href="{% static 'blog/style.css' %}">


<div class="container">
  <div class="row justify-content-center">
    <div class="col-7 my-5" align="center">
      <h1 class="page-title">Sailor's Blog</h1>
    </div>
  </div>
</div>

<br>

<div class="container">
  <div class="row justify-content-center mx-2">
    <div class="col-lg-7 col-12">
      {% for blog in blog_project %}

      <a href="{% url 'blog:detail' blog.id %}"><p class="title my-0">{{ blog.blog_title }}</p></a>
      <p class="sub my-0 mt-1">{{ blog.blog_date | date:'M d Y' }}</p>
      <p class="descrip mb-5">{{ blog.blog_description | truncatechars:130 }}</p>

      {% endfor %}

    </div>
  </div>
</div>


{% endblock %}
