{% extends 'portfolio/base.html' %}
{% block content %}
{% load static %}

<link rel="stylesheet" type="text/css" href="{% static 'web3scanner/style.css' %}">

<div class="container text-center my-5">
  <div class="row">
    <div class="col">
      <h1>Sailor's Web3 Scanner</h1>
    </div>
  </div>
</div>

<div class="container">
  <form class="" action="{% url 'web3scanner:web3scanner' %}" method="get">
    <div class="row justify-content-center" style="">

      <div class="col-lg-3 col-md-4 col-sm" style="">
        <select class="form-select form-select-lg my-2" name="Token">
          <option value="OMG">OMG</option>
          <option value="Tether">Tether</option>
          <option value="Shiba Inu">Shiba Inu</option>
          <option value="BNB">BNB</option>
          <option value="HEX">HEX</option>
          <option value="Matic">Matic</option>
          <option value="Wrapped BTC">Wrapped BTC</option>
          <option value="Chainlink">Chainlink</option>
          <option value="Fantom">Fantom</option>
        </select>
      </div>

      <div class="col-auto my-2" style="">
        <input class="btn btn-primary btn-lg" type="submit" name="token_submit" value="Get Token Stats">
      </div>

    </div>
  </form>
</div>

{% if token_data.Name %}

  <div class="container my-5">
    <div class="row justify-content-center">
      <div class="col-lg-10 col-md-12">
        <div class="row justify-content-center">

          {% for key,value in token_data.items%}
            <div class="col-md-6 col-sm" style="">
              <h5 class="stat-title">{{key}}</h5>
              <p class="stat-content">{{value}}</p>
            </div>
          {% endfor %}

        </div>
      </div>
    </div>
  </div>

  <div class="container text-center">
    <form class="" action="{% url 'web3scanner:web3scanner' %}" method="get">

      <div class="row justify-content-center">
        <div class="col" style="">
          <h5>Search the balance of any {{token_data.Name}} address</h5>
        </div>
      </div>

      <div class="row justify-content-center">
        <div class="col-lg-6 col-md my-2" style="">
            <input class="form-control input-lg" type="text" name="address_field" placeholder="0xdac17f958d2ee523a2206206994597c13d831ec7">
        </div>
        <div class="col-auto my-2" style="">
          <input class="btn btn-primary btn-md" type="submit" name="address_submit" value="Get Balance">
        </div>
      </div>

    </form>
  </div>

  <div class="container mt-4">
    <div class="row justify-content-center">
      <div class="col-6" style="">
        {% if wallet_data.balance %}
          <h5 class="stat-title">Address</h5>
          <p class="stat-content">{{wallet_data.address}}</p>
          <h5 class="stat-title">Balance</h5>
          <p class="stat-content">{{wallet_data.balance}}</p>
          <h5 class="stat-title">Percent of Total Supply</h5>
          <p class="stat-content mb-5">{{wallet_data.percent_supply}}%</p>
        {% endif %}
      </div>
    </div>
  </div>

{% endif %}

{% if error_msg %}
  <div class="container text-center mb-5">
    <div class="row justify-content-center">
      <div class="col-6">
        <p class="alert alert-danger">{{error_msg}}</p>
      </div>
    </div>
  </div>
{% endif %}

{% endblock %}
