{% extends 'portfolio/base.html' %}
{% block content %}

<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>

    <div class="container text-center">
      <div class="row my-5">
        <div class="">
          <h1>Sailor's Password Generator</h1>
        </div>
      </div>
    </div>

    <div class="container">
      <div class="row justify-content-center">
        <div class="col-2" style="">
          <form action="{% url 'passwordgenerator:passwordgenerator' %}" method="get">
            <select name="length" class="my-1">
              <option value="8">8</option>
              <option value="9">9</option>
              <option value="10">10</option>
              <option value="11">11</option>
              <option value="12">12</option>
              <option value="13">13</option>
              <option value="14">14</option>
              <option value="15">15</option>
              <option value="16">16</option>
              <option value="17">17</option>
              <option value="18">18</option>
              <option value="19">19</option>
              <option value="20">20</option>
              <option value="21" selected="selected">21</option>
            </select> Length
            <br>
            <input class="my-1" type="checkbox" name="Numbers"> Numbers
            <br>
            <input class="my-1" type="checkbox" name="Uppercase"> Uppercase
            <br>
            <input class="my-1" type="checkbox" name="Special"> Special Characters
            <br>
            <input type="submit" name="Generate" value="Generate Password" class="btn btn-primary my-2" style="width:100%">
          </form>
        </div>
      </div>
    </div>

    {% if the_password %}
    <div class="container text-center my-3">
      <div class="row justify-content-center">
        <div class="col-8">
          <h1 class="alert alert-success">{{ the_password }}</h1>
        </div>
      </div>
    </div>
    {% endif %}

  </body>
</html>

{% endblock %}
